<div class="container-swiper-content" id="main-news">
  <div class="container-title">
    <h3>Principais Noticias</h3>
    <div class="decoration-title"></div>
  </div>
  <swiper-container
    class="container-swiper"
    space-between="20px"
    slides-per-view="1"
  >
    <swiper-slide
      *ngFor="let data of swiperData"
      class="container-swiper-slide"
    >
      <div
        class="container-grid-col-1"
        style="background: url('{{ data.swiperslide[0].image }}');
       background-repeat: no-repeat; background-position: center; background-size: cover;"
      >
        <div class="informations-card">
          <p class="toggle">{{ data.swiperslide[0].toggle }}</p>
          <p>{{ data.swiperslide[0].title }}</p>
        </div>
      </div>
      <div class="container-grid-col-2">
        <div class="container-swiper-slide">
          <div
            style="background: url('{{ data.swiperslide[1].image }}');
       background-repeat: no-repeat; background-position: center; background-size: cover;"
          >
            <div class="informations-card">
              <p class="toggle">{{ data.swiperslide[1].toggle }}</p>
              <p>{{ data.swiperslide[1].title }}</p>
            </div>
          </div>
          <div
            style="background: url('{{ data.swiperslide[2].image }}');
       background-repeat: no-repeat; background-position: center; background-size: cover;"
          >
            <div class="informations-card">
              <p class="toggle">{{ data.swiperslide[2].toggle }}</p>
              <p>{{ data.swiperslide[2].title }}</p>
            </div>
          </div>
        </div>
        <div
          class="container-row-2"
          style="background: url('{{ data.swiperslide[3].image }}');
       background-repeat: no-repeat; background-position: center; background-size: cover;"
        >
          <div class="informations-card">
            <p class="toggle">{{ data.swiperslide[3].toggle }}</p>
            <p>{{ data.swiperslide[3].title }}</p>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
