<div class="container-swiper-content" id="main-news">
  <div class="container-title">
    <h3>Principais Noticias</h3>
    <div class="decoration-title"></div>
  </div>
  <div class="container-swiper" space-between="20px" slides-per-view="1">
    <div *ngFor="let data of swiperData" class="container-swiper-slide">
      <a href="new/{{ data.articles[0].source.id }}">
        <div
          class="container-grid-col-1"
          style="background: url('{{ data.articles[0].urlToImage }}');
       background-repeat: no-repeat; background-position: center; background-size: cover;"
        >
          <div class="informations-card">
            <p class="toggle">{{ data.articles[0].publishedAt }}</p>
            <p>{{ data.articles[0].title }}</p>
          </div>
        </div></a
      >

      <div class="container-grid-col-2">
        <div class="container-swiper-slide">
          <a href="new/{{ data.articles[1].source.id }}">
            <div
              style="background: url('{{ data.articles[1].urlToImage }}');
          background-repeat: no-repeat; background-position: center; background-size: cover;"
            >
              <div class="informations-card">
                <p class="toggle">{{ data.articles[1].publishedAt }}</p>
                <p>{{ data.articles[1].title }}</p>
              </div>
            </div>
          </a>
          <a href="new/{{ data.articles[2].source.id }}">
            <div
              style="background: url('{{ data.articles[2].urlToImage }}');
            background-repeat: no-repeat; background-position: center; background-size: cover;"
            >
              <div class="informations-card">
                <p class="publishedAt">{{ data.articles[2].publishedAt }}</p>
                <p>{{ data.articles[2].title }}</p>
              </div>
            </div>
          </a>
        </div>
        <a href="new/{{ data.articles[3].source.id }}">
          <div
            class="container-row-2"
            style="background: url('{{ data.articles[3].urlToImage }}');
       background-repeat: no-repeat; background-position: center; background-size: cover;"
          >
            <div class="informations-card">
              <p class="publishedAt">{{ data.articles[3].publishedAt }}</p>
              <p>{{ data.articles[3].title }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
