a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin-top: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;

  .icon-container {
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s;
    color: #000;
    &:hover {
      background-color: rgb(0, 0, 0, 1);
      color: white;
    }
  }

  .icon-container-linkedin {
    transition: 0.3s;
    color: #000;
    font-size: 24px;
    padding: 5px;
    &:hover {
      background-color: rgb(255, 255, 255);
      color: #0e76a8;
    }
  }
}

.icon-container {
  font-size: 24px;
}

.container-social-media {
  display: flex;
  align-items: center;
  gap: 20px;
}
