/* You can add global styles to this file, and also import other style files */

:root {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
